# Non-secret defaults. Override through .env or a profile.
SING_BOX_CONFIG_PATH=/etc/sing-box/config.json
CLOUDFLARED_TOKEN_PATH=/etc/cloudflared/token
SNIPROXY_CONFIG_PATH=/etc/sniproxy/config.yaml
SNIPROXY_DOMAINS_PATH=/etc/sniproxy/domains.csv
SNIPROXY_CIDR_PATH=/etc/sniproxy/cidr.csv
SING_BOX_BIN=/usr/local/bin/sing-box
CLOUDFLARED_BIN=/usr/local/bin/cloudflared
SNIPROXY_BIN=/usr/local/bin/sniproxy
SING_BOX_SERVICE_USER=sing-box
SING_BOX_SERVICE_GROUP=sing-box
ENABLE_VLESS=true
ENABLE_SHADOWSOCKS=false
ENABLE_VMESS=false
ENABLE_TROJAN=false
ENABLE_HYSTERIA2=false
ENABLE_TUIC=false
ENABLE_SOCKS=true
ENABLE_DNS_STEERING=false
ENABLE_CLOUDFLARED=false
VLESS_PORT=443
SHADOWSOCKS_PORT=8444
VMESS_PORT=8445
TROJAN_PORT=8446
HYSTERIA2_PORT=8447
TUIC_PORT=8448
SOCKS_LISTEN_ADDRESS=127.0.0.1
SOCKS_LISTEN_PORT=1080
SSH_PORT=22
REALITY_SERVER_NAME=www.cloudflare.com
REALITY_HANDSHAKE_SERVER=www.cloudflare.com
REALITY_HANDSHAKE_PORT=443
TLS_SERVER_NAME=
TLS_CERT_PATH=/etc/sing-box/server.crt
TLS_KEY_PATH=/etc/sing-box/server.key
SHADOWSOCKS_METHOD=chacha20-ietf-poly1305
HYSTERIA2_UP_MBPS=100
HYSTERIA2_DOWN_MBPS=100
SING_BOX_LOG_LEVEL=info
SNIPROXY_BIND_ADDRESS=0.0.0.0
SNIPROXY_DNS_PORT=53
SNIPROXY_HTTPS_PORT=443
SNIPROXY_UPSTREAM_DNS=udp://1.1.1.1:53
SNIPROXY_LOG_LEVEL=info
DNS_ALLOWED_CIDRS='127.0.0.0/8,allow;::1/128,allow'
